<div class="row">
    <div class="col-xs-6">
        <div class="feature-box" style="margin-top: 80px;">
            <img src="../../assets/Get Paid Instantly.png" alt="paid_instantly.png" class="feature-img">
            <p class="feature-des-title">Quick cash disbursement</p>
            <p class="feature-des">Get terms loans that your business needs<br>within 72 hrs</p>
        </div>
        <div class="feature-box" style="height: 240px;">
            <img src="../../assets/Low interest rate.png" alt="low_interest_rate.png" class="feature-img">
            <p class="feature-des-title">Low-interest rate</p>
            <p class="feature-des">Acheive your financial goals with an<br>amazing interest rate starting at 13% per<br>annum</p>
        </div>
        <div class="feature-box">
            <img src="../../assets/Secure Payments.png" alt="secure_payment.png" class="feature-img">
            <p class="feature-des-title">Zero Paperwork</p>
            <p class="feature-des">Get started instantly by submitting only<br>your basic details & bank statements</p>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="feature-box" style="margin-top: 190px;">
            <img src="../../assets/freelancer_feature_icon_6@1.5x.png" alt="freelancer_feature.png" class="feature-img">
            <p class="feature-des-title">Ace your business finances</p>
            <p class="feature-des">Manage banking, accounting & everything<br>in between, on one platform</p>
        </div>
        <div class="feature-box">
            <img src="../../assets/Covid.png" alt="covid.png" class="feature-img">
            <p class="feature-des-title">Loans to fight COVID-19</p>
            <p class="feature-des">zero EMI for first 3 months on Back-to-<br>Business loans of upto 1 lakh</p>
        </div>
    </div>
</div>