
<div>
   <div class="row" style="margin-bottom: 100px;">
      <div class="col-md-5 section-1-1">
         <app-super-simple></app-super-simple>
      </div>
      <div class="col-md-7 section-1-2">
         <app-eligibility-calculator></app-eligibility-calculator>
      </div>
   </div>
   <div class="row section-2">
      <div class="col-md-7">
         <app-features></app-features>
      </div>
      <div class="col-md-5">
         <app-business-with-open></app-business-with-open>
      </div>
   </div>
</div>