.simple-text-box {
    margin-top: 300px;
    margin-left: 90px;


  }
  .boost-text {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .des-test {
      margin-top: 20px;
      color: #777777;
  }
  .rectangle {
  
      width: 120px;
      height: 5px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 13px;
      opacity: 0.7;
  
  }

  .get-open-account {
    margin-top: 50px;
  
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}



.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #663399;
  color: #663399;
  background-color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #663399;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #663399;
  color: #fff;
}
