
.logo {

  margin-top: 5px;
  margin-left: 30px;
  width: auto;
  height: 120px;

}


.simple-text-box {
  margin-top: 80px;
  margin-left: 80px;
}

.rectangle {

    width: 190px;
    height: 5px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 0.7;

}

.super-simple-img {
    margin-top: 60px;
    height: 200px;
    width: 350px;
    margin-left: 40px;
    position: relative;
}

.accounting-dots {
    position: absolute;
    top: 235px;
    left: 200px;
    height: 50px;
}