
    <div class="row">
        <div class="col-xs-12">
            <img src="../../assets/logo.png" alt="Open logo" class="logo">
            <div class="simple-text-box">
                <h1>We make it Super<br>Simple</h1>
                <div class="rectangle"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img src="../../assets/collect_img-video.png" alt="super_simple.png" class="super-simple-img">
            <img src="../../assets/accounting_dots.png" alt="accounting_dots.png" class="accounting-dots">
        </div>
    </div>
